/* fonts and their backups
.headland-one-regular {
    font-family: "Headland One", serif;
    font-weight: 400;
    font-style: normal;
  } - will use this one for headers 

  .zen-kaku-gothic-new-regular {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 400;
    font-style: normal;
  } - will use this one for para

  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  } - will use this one for links
 */

 /*General style*/

 body {
    background-color: #030303;
    margin: 0;
    padding: 0;
    border: 0;
 }

 i {
    color: #FAEFEF;
 }
 
 img {
    height: 2rem; 
 }

 h1, h2, h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #FAEFEF;
 }  

 a {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: #FAEFEF;
 }

 a:hover {
    text-decoration: underline; 
 }

 p {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 400;
    color: #FAEFEF;
    font-size: 1rem;
 }

 ul {
    list-style: none;
    list-style: none;
 }

 span {
    color:#FAEFEF;
 }

 /*Nav bar style*/ 

 nav {
    background-color: rgba(125, 122, 122, 0.8);
    height: 8rem;
    list-style: none;
    display: flex;
    align-items: center;
 }

 nav ul {
    display: flex;
    justify-content: flex-end;
    width: 100%;
 }

 li a {
    text-decoration: none;
    color: #FAEFEF;
 }

 .nav_bar a {
    margin-right: 3.5rem;
 }

 #logo {
    align-self: center;
    border-radius: 50%;
    margin-left: 2rem;
    height: rem;
    text-wrap: none;
    font-family: "Grey Qo", cursive;
    font-weight: 400;
    font-size: 3rem;
    text-align: center;
    width: 50%
 }

 #logo:hover {
    text-decoration: none; 
 }
  

/*Main page/ banner style*/

.banner_cont {
    display: flex;
    justify-content: center;
    height: 30rem;
    padding: 2rem 0; 
    background-image: url("images/background_pic.jpg");
    background-size: contain;
}

.banner {
    width: 90%;
    padding: 1rem 0;
    background-color: rgba(125, 122, 122, 0.6);
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: "profile info";
}

.profile_pic {
    grid-area: profile; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile_pic a {
    height: 90%;
}

.profile_pic img {
    border-radius: 50%;
    height: 100%;
    border: solid #7D7A7A 1px;    
}

.info_sec {
    grid-area: info;
    width: 80%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #473737;
    border-radius: 10px;
}

.info_sec h1 {
    text-align: center;
    justify-self: flex-start;
    font-weight: 800;
    margin: 0; 
    font-size: 3rem;

}

.info_sec p {
    align-self: center;
    width: 60%
}

.info_sec button {
    width: 40%;
    align-self: center;
    margin: 2rem;
    padding: 15px 0 ; 
}

.info_sec button:hover {
    cursor: pointer;
    background-color: #0D0C0C;
    color: #FAEFEF; 
}

/*This section will be for the hidden section*/

.projects_cont {
    display: none;
} 
/*Skills section style*/

.skills_cont {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.skills {
    width: 90%;
    background-color: #473737;
    margin: 1rem 0; 
    border-radius: 1rem;
}

.skills h2 { 
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
    margin: 0; 
    padding-top: 1.5rem;
}

.skills_list {
    display: flex;
    justify-content: center;
}

.skills i {
    font-size: 4rem;
    padding: 0 1rem 1rem 1rem; 
    text-align: center;
}

/*Contact section style*/

.contact_sec {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.contact {
    width: 90%;
    background-color: #473737;
    margin: 1rem 0; 
    border-radius: 1rem;
}

.contact h2 { 
    text-align: center;
    font-weight: 500;
    font-size: 2.25rem;
    margin: 0; 
    padding-top: 1.5rem;
}

.contact_list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_list li {
    padding: 1rem; 
    margin: 0 3rem;
}

.contact_list i {
    font-size: 4rem;
}

.contact_list i:hover {
    color:#030303;
}

/*Footer style*/   

footer {
    background-color: #7D7A7A;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer span {
    font-style: italic;
    text-align: center;
}
/*This section will be for the media queries to make site responsive*/